
html,
body {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #dadada;
}
a {
    -webkit-transition: color 0.25s ease-in-out;
       -moz-transition: color 0.25s ease-in-out;
            transition: color 0.25s ease-in-out;
}
p {
    color: #8f9ca7;
    font-size: 16px;
    font-weight: 300;
}
img {
    max-width: 100%;
}
strong {
    font-weight: 600;   
}
.new-line {
    clear: both;
    display: block;
}
.rarr {
    font-family: sans-serif;
}
#site.site-wrapper {
    max-width: 1600px;
    background: #fff;
    margin: 0 auto;
}
.site-section {
    padding: 120px 0;
    position: relative;
}
.site-section:nth-child(even),
.site-section:nth-child(even) .site-button a {
    background: #f6f9fb;
}
.site-section.active-cord .site-section-cord:before,
.site-section.active .site-section-cord:before {
    background-color: #137dff;
}
.site-section.active-cord .site-section-cord:after,
.site-section.active .site-section-cord:after {
    border-color: #137dff;
}
.site-section-cord {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}
.site-section-cord:before,
.site-section-cord:after {
    content: "";
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s;
       -moz-transition-delay: 0.25s;
            transition-delay: 0.25s;
}
.site-section-cord:before {
    height: 83px;
    width: 1px;
    background: #8f9ca7;
}
.site-section-cord:after {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 1px solid #8f9ca7;
    position: relative;
    top: 9px;
    left: -5.5px;
}
.site-section-qoute {
    width: 50px;
    margin: 0 auto 20px;
    display: block;
}
.site-section-logo {
    width: 195px;
    margin: 0 auto 20px;
    display: block;
}
.site-section-logo.ratings {
    margin-bottom: 45px;
}
.site-section-heading {
    text-align: center;
}
.site-section-caption-text {
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
    margin-bottom: 84px;
}
.site-section-price-text {
    margin-bottom: 30px;
}
.site-heading-text,
.site-sub-heading-text,
.site-caption-text {
    color: #8f9ca7;
}
.site-heading-text {
    color: #2f353f;
    margin-bottom: 45px;
}
.site-heading-text:after {
    content: '';
    background-color: #8f9ca7;
    width: 70px;
    height: 3px;
    display: block;
    margin: 25px auto 0;
}
.site-sub-heading-text {
    font-weight: bold;
    font-size: 14px;
}
.site-caption-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 65px;
    width: 672px;
}
span#suggested {
    position: absolute;
    right: 0;
    padding: 10px 20px;
    background: #FF5722;
    color: white;
    font-size: 15px;
    font-weight: 800;
}
.site-section-content {
    width: 100%;
    display: inline-block;
}
.site-section-content-inner {
    width: 100%;
    display: inline-block;
}

.site-section-content.column-3 .site-section-content-item {
    width: 33%;
    padding: 0 32.5px;
    float: left;
}
.site-section-content-item img {
    width: 100%;
}

.site-section-content-item .content-image {
    width: 100px;
    display: block;
    margin: 0 auto 45px;
    box-shadow: 0px 2px 10px 0px #b9b9b9;
    border-radius: 20px;
}
.site-section-content-item .content-image.no-shadow {
    box-shadow: none;
    border-radius: 0;
}
.content-item-title {
    color: #8f9ca7;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.align-center {
    text-align: center;
}
.site-button {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px;
    margin: 0 8.5px 45px;
    display: inline-block;
    border-radius: 52px;
    background: -webkit-linear-gradient(left, #44adff 0%, #6166fa 75%);
    background: -o-linear-gradient(right, #44adff 0%, #6166fa 75%);
    background: -moz-linear-gradient(right, #44adff 0%, #6166fa 75%);
    background: linear-gradient(to right, #44adff 0%, #6166fa 75%);

    background-position: 0 0, 100% 0;
    -webkit-background-size: 20px 100%;
       -moz-background-size: 20px 100%;
            background-size: 100% 100%;

    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
.site-button:hover {
    background-size: 180% 100%;
}
.site-section .site-button.type-gradient {
}
.site-section .site-button.type-gradient a {
    background: transparent;
    color: #fff;
}

.site-button a {
    color: #8f9ca7;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 27.5px  62.5px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
}
.site-button:hover a {
    color: #03a9f4;
}
/**
 * Material
 **/
.site-section-content .site-section-content-item.material-card {
 padding: 0 15px;
 margin-bottom: 33px;
}
.site-section .site-section-content .material-card .site-section-content-item-inner{
    background: #fff;
    padding: 47px 25px;
    box-shadow: 0px 0px 64px 0px rgba(178, 200, 240, 0.26);
    border-radius: 10px;
}
.material-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.material-list li {
    color: #8f9ca7;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative;
}
.material-list li:last-child {
    margin-bottom: 0;
}
.material-list li:before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 8.5px;
    left: 0;
}
.material-list.pacific-blue li:before {
    border-color: #07A1C2;
}
.material-list.lime-green li:before {
    border-color: #2DCA1C;
}
.material-list.radical-red li:before {
    border-color: #FE2D65;
}
.material-list.neon-carrot li:before {
    border-color: #FA9630;
}
.material-list.dark-orchid li:before {
    border-color: #8B2DC3;
}
.material-list.medium-slate-blue li:before {
    border-color: #6167fa;
}
.material-list.medium-violet-red li:before {
    border-color: #C70975;
}
.material-list.lime-green-500 li:before {
    border-color: #2CC91C;
}
.material-list.torch-red li:before {
    border-color: #FC0005;
}
.material-carousel-card-container .owl-item {
    padding: 20px 0;
}
/* Carousel */
.material-carousel-card-container {
    position: relative;
    overflow: hidden;
}
.material-carousel-card-container:before,
.material-carousel-card-container:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100px;
}
.material-carousel-card-container:before {
    left: -100px;
    box-shadow: 100px 20px 200px #ffffff;
}
.material-carousel-card-container:after {
    right: -100px;
    box-shadow: -100px 20px 200px #ffffff;
}
.material-carousel-card-container.owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    background: #8f9ca7;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
}
.material-carousel-card-container.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #137dff;
}

.material-carousel-card .site-section-content-item-inner {
    background: #fff;
    padding: 40px 44px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12), 0 3px 12px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 577px;
    min-height: 312px;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
    cursor: default;
}
.material-carousel-card .site-section-content-item-inner:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.site-section-content-header {
    width: 100%;
}
.material-carousel-card .site-section-content-item-inner .site-carousel-avatar {
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
}
.site-carousel-info,
.site-carousel-image {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.site-carousel-info {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0;
}
.site-carousel-image {
    padding-right: 0;
    text-align: right;
    width: 24%;
}
.site-carousel-name {
    color: #2f353f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.material-carousel-card .site-section-content-item-inner .site-carousel-rating {
    width: 100px;
}
.site-carousel-content {
    margin-top: 25px;
    padding: 0;
}
/**
 * Transparent
 **/
.site-section-content .site-section-content-item.transparent-card {
    padding: 0 15px;
}
.site-section .site-section-content .transparent-card .site-section-content-item-inner {
    padding: 20px 20px 20px;
    border-radius: 10px;
}
.site-section-content-item.transparent-card .content-image {
    width: 82px;
    margin-bottom: 25px;
}
.transparent-card  .content-item {
}
.transparent-card  .content-item-title {
    margin-bottom: 25px;
}
.transparent-card .content-item-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #0288d1;
    margin: 25px auto 0;
}
.transparent-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}
.transparent-list li {
    color: #8f9ca7;
    font-size: 14px;
    line-height: 33px;
    font-weight: 300;
    text-align: center;
}
/**
 * Header Section
 **/
#header-container {
    width: 100%;
    padding: 0;
    text-align: center;
    position: fixed;
    left: 0;
    z-index: 500;
    background: transparent;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
 }
.site-header {
    border-bottom: 1px solid #8f9ca7;
    display: inline-block;
}
#header-container.sticky-header-active {
    width: 100%;
    background: #fff;
    box-shadow: 0 1.5px 1px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.12);
    position: fixed;
}
.sticky-header-active .site-header {
    border-bottom-width: 0;
    position: relative;
}
.sticky-header-active .site-logo-outer-wrap,
.sticky-header-active .site-nav-menu-outer-wrap {
    padding-top: 24px;
    padding-bottom: 26px;
}
.site-nav-wrap.container {
    padding: 0;
    margin: 0;
}
@media (min-width: 1200px) {
    .site-nav-wrap.container {
       /* width: 100%; */
    }
}
.site-logo-outer-wrap,
.site-nav-menu-outer-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
}
.site-logo-outer-wrap {
    text-align: left;
}
.site-nav-menu-wrap {
    text-align: right;
}
/**
 * Site Navigation Section
 **/
.site-nav-lists {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.site-nav-lists .site-nav-lists-item {
    display: inline-block;
}
.site-nav-lists-item a {
    color: #8f9ca7;
    font-size: 16px;
    font-weight: 500;
    padding: 0 28px;
    text-decoration: none;
}
.site-nav-lists-item a:hover,
.site-nav-lists-item a.active {
    color: #137dff;
}
.site-nav-lists-item:first-of-type a {
    padding-left: 0;
}
.site-nav-lists-item:last-of-type a {
    padding-right: 0;
}
/**
 * Site Slider Section
 **/
#site-slider-outer-wrap {
    overflow: hidden;
    max-height: 962px;
    position: relative;
}
#site-slider-outer-wrap::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.60); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, rgba(0,0,0,0.60)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, rgba(0,0,0,0.60)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, rgba(0,0,0,0.60)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, rgba(0,0,0,0.60)); /* Standard syntax */
    z-index: 40;
}
#site-slider-wrap {
    width: 100%;
    height: 100%;
    position: absolute;;
    z-index: 1;
    top: 0;
    left: 0;
}
.site-slider-image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.site-slider-image-container {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}
.site-slider-image-container.active {
    opacity: 1;
}
.site-slider-image-container img {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.slider-text-container {

    height: 100%;
    display: table;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 70;
}
.slider-text-container,
.slider-text-container p{
    color: #377ff7; 
}
.slider-text-container a{ 
    color: #fff;
}
.slider-text-container p{
    color: #eee;
}
.slider-text-container .container {
    height: 100%;
    display: table;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 30;
}
.slider-text-outer-wrap {
    display: table-cell;
    vertical-align: middle;
}
.slider-text-wrap {
    margin-top: 40px;
}
.slider-text-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 0.65em;
    margin-bottom: 30px;
}

.slider-text-inner-wrap .sub-heading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.slider-text-inner-wrap .emphasize-large {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 800;
}
.slider-text-inner-wrap .emphasize-small {
    font-size: 15px;
    font-weight: 600;
}
.slider-caption-wrap {
    margin-bottom: 10px;
    font-weight: 600;
}
.slider-caption-wrap p {
    max-width: 520px;
    font-size: 14px;
}
.slider-text-inner-wrap p {
    margin-bottom: 0;
}
/**
 * Demo Section
 **/
#demos .site-section-content-item {
    overflow: hidden;
}
#demos .site-section-content-item-inner {
    width: 100%;
    position: relative;
}
#demos .site-section-content-item .content-item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
}
#demos .site-section-content-item:hover .content-item-overlay {
    background: rgba(0, 0, 0, 0.85);
}

#demos .content-item-overlay {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
 #demos .content-item-overlay-outer-wrap {
     display: table;
     width: 100%;
     height: 100%;
 }

 #demos .content-item-overlay-inner-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    -webkit-transform: translatey(150px);
       -moz-transform: translatey(150px);
        -ms-transform: translatey(150px);
            transform: translatey(150px);

    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        opacity: 0;
}
#demos .site-section-content-item:hover .content-item-overlay-inner-wrap {
    -webkit-transform: translatey(0px);
       -moz-transform: translatey(0px);
        -ms-transform: translatey(0px);
            transform: translatey(0px);
    opacity: 1;
}

/**
 * Footer Section
 **/
#footer-container {
    width: 100%;
    background: #fff;
    padding: 0;
}
.site-footer {
    color: #8f9ca7;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding: 59px 0 60px;
}
.site-footer * {
    margin-bottom: 0;
}
.mock-ups {
    position: relative;
    margin-bottom: 45px;
}
.site-section-ipad-air,
.site-section-iphone6 {
    position: absolute;
    z-index: 20;
}
.site-section-content-item .site-section-ipad-air {
    width: 527px;
    left: -210px;
    bottom: -20px;
}
.site-section-content-item .site-section-imac {
    width: 1258px;
}
.site-section-content-item .site-section-iphone6 {
    width: 256px;
    right: -85px;
    bottom: -10px;
}
.product-price {
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
}
.product-price.discount {
    color: #44adff;
    font-size: 48px;
}
.product-price.strike {
    color: #2f353f;
    font-size: 36px;
    text-decoration: line-through;
}

@media(max-width: 1200px) {
    .site-nav-lists-item a {
        padding: 0 30px;
    }
    .site-section-content-item .site-section-ipad-air {
        left: -8%;
        width: 48%;
    }
    .site-section-content-item .site-section-iphone6 {
        right: -10%;
        width: 30%;
    }
}
@media(max-width: 992px) {
    h1.slider-text-title {
        font-size: 34px;
        line-height: 0.65em;
    }
    .slider-text-inner-wrap .emphasize-large,
    .slider-text-inner-wrap .sub-heading {
        font-size: 18px;
        line-height: 24px;
    }
    .slider-text-inner-wrap p {
        font-size: 14px;
        line-height: 26px;
    }
    .slider-text-inner-wrap .emphasize-small {
        font-size: 16px;
        line-height: 24px;
    }
    #header-container {
        background: #fff;
    }
    #header-container.sticky-header-active {
        position: absolute;
    }
    .site-header {
        width: 100%;
    }
    .site-logo-outer-wrap,
    .site-nav-menu-outer-wrap {
        width: 100%;
        max-width: 100%;
        flex: inherit;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 26px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .site-nav-wrap {
        min-width: 100%;
    }
    .site-nav-menu-wrap {
        text-align: center;
    }
    #site-slider-wrap {
        position: relative;
    }
    .slider-text-container {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #demos .site-section-content-item {
        width: 100%;
        margin-bottom: 45px;
        padding: 0;
    }
    #features .site-section-content .site-section-content-item {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    .site-section .site-section-content .material-card .site-section-content-item-inner,
    .transparent-card  .content-item {
        min-height: inherit;
    }
    .site-section-content-item .site-section-iphone6 {
        right: -5%;
        width: 20%;
    }
    .site-section-content-item .site-section-ipad-air {
        left: -10%;
        width: 35%;
    }
}
@media(max-width: 768px) {
    .site-logo-outer-wrap {
        text-align: left;
        padding-left: 30px;
    }

    .site-nav-menu-outer-wrap {
        text-align: center;
    }
    .site-nav-menu-outer-wrap {
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        position: fixed;
        left: 0;
        opacity: 0;
        display: block!important;
        visibility: hidden;
        -webkit-transition: all .25s ease-in-out;
           -moz-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
    }
    .site-nav-menu-outer-wrap.active {
        opacity: 1;
        visibility: visible;
    }
    .site-nav-menu-wrap {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .site-nav-lists {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
    .site-nav#toggle {
        height: 100%;
        width: 100%;
        display: table;
    }
    .site-nav-lists .site-nav-lists-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .site-nav-lists .site-nav-lists-item a {
        padding: 0;
        width: 100%;
    }
    #features .site-section-content .site-section-content-item {
        width: 100%;
        margin-bottom: 45px;
        padding: 0;
    }
    #features .site-section-content .site-section-content-item.transparent-card {
        margin-bottom: 0;
    }
    .site-button {
        width: 80%;
        margin: 0 auto 45px;
    }
    .site-button:last-of-type {
        margin-bottom: 0;
    }
    .site-button a {
        padding: 27.5px 50px;
        font-size: 15px;
    }
    .site-section-content-header {
        text-align: center;
    }
    .site-carousel-info {
        padding-right: 0;
    }
    .material-carousel-card .site-section-content-item-inner .site-carousel-rating {
        display: inline-block;
    }
    .site-carousel-image {
        text-align: center;
        padding: 0;
    }
    .material-carousel-card .site-section-content-item-inner {
        margin: 0 20px;
    }
}
@media(max-width: 768px) {
    .slider-text-container .container {
        padding: 0 15px;
    }
    .site-section-content-item .site-section-ipad-air {
        left: -5%;
    }
}
@media(max-width: 480px) {
    h1.slider-text-title {
        font-size: 24px;
        line-height: 0.65em;
    }
}
.site-mobile-menu {
    width: 40px;
    height: 40px;
    margin: 19px 0;
    padding: 6.5px 5px;
    position: absolute;
    right: 15px;
    z-index: 50;
    cursor: pointer;
}
.site-mobile-menu.active {
    position: fixed;
}
.site-mobile-menu span {
    display: inline-block;
    height: 5px;
    width: 100%;
    border: 1px solid #44adff;
    margin: 0;
    float: left;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all 0.25s ease-in-out, opacity 0.5s ease-in-out, background-colod 0.5s ease-in-out;
       -moz-transition: all 0.25s ease-in-out, opacity 0.5s ease-in-out, background-colod 0.5s ease-in-out;
            transition: all 0.25s ease-in-out, opacity 0.5s ease-in-out, background-colod 0.5s ease-in-out;
}
.site-mobile-menu span:nth-child(2) {
    margin: 5px 0;
}
.site-mobile-menu.active span {
    background: #F44336;
    border: none;
}
.site-mobile-menu.active span:first-child {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
}
.site-mobile-menu.active span:nth-child(2) {
    opacity: 0;
}
.site-mobile-menu.active span:last-child {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -10.5px;
}
